.metadata
.recommenders
RemoteSystemsTempFiles
/Games/ZeeTrackerVisualizer/nbproject/private/
/Games/ZeeTrackerVisualizer/build/
/Games/ZeeTrackerVisualizer/dist/
/Games/ZeeTrackerVisualizer/lib/
*.dll
*.log
/Games/Illuminator/nbproject/private/
/Games/Illuminator/build/
/Games/Test/
/Games/Illuminator/dist/